

<div><%= flash[:notice] %></div>

<div class="row mt-5 h4 pb-2 mb-4 text-secondary border-bottom border-warning justify-content-between" >
  <h4 class="col-sm-4">profile</h4>
</div>
<div class="row justify-content-end">
  <% if @customer.name != "guestuser" %>
    <%= link_to  "プロフィールを編集する", edit_customer_path(@customer), class:"col-sm-4 btn btn-outline-secondary mt-1 mx-1 btn-sm" %>
  <% end %>
</div>

<div class="row mt-3 mt-sm-4">
  <div class="col-10 col-sm-5">
    <%= image_tag @customer.get_image,class:"rounded-circle img-thumbnail mx-auto d-block max-width:100%; " %>
  </div>
  <div class="col">
    <table class="table table-borderless text-secondary ">
      <tbody>
        <tr>
          <td><%= @customer.name %></td>
        </tr>
        <tr>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <% if @customer.introduction != nil %>
          <td><%= safe_join(@customer.introduction.split("\n"),tag(:br)) %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row  h4 pb-2 mb-4 mt-sm-3 justify-content-center" >
  <%= link_to "　 コメント一覧　", customer_comments_path(@customer.id), class:"col-sm-3 btn btn-warning mt-1 mx-1 btn-sm" %>
  <%= link_to "　お気に入りレシピ　", customer_favorites_path(@customer.id), class:"col-sm-3 btn btn-warning mt-1 mx-1 btn-sm" %>
</div>
<div class="row mt-5 h4 pb-2 mb-4 text-secondary border-bottom border-warning " >
  <h5 class="col-sm-4">投稿したレシピ一覧</h5>
</div>

<%= render 'recipe', customer_recipe: @recipes %>

<div class="mt-4 d-flex justify-content-center pagination-sm">
  <%= paginate @recipes %>
</div>