
<div class=" row justify-content-center">
  <%= link_to "　　　　　新 着 順　　　　　　", recipes_path, class:"btn btn-warning mt-1 mx-1 btn-sm" %>
  <%= link_to "　　　　お気に入り順　　　　", rank_path, class:"btn btn-outline-warning mt-1 mx-1 btn-sm" %>
</div>

<div class="h4 pb-2 mb-4 text-secondary border-bottom border-warning ">
  <h5></h5>
</div>

<!--タグリスト-->
<%= render 'tag_list', tag_list: @tag_list %>
<!--新着レシピ一覧-->
<%= render 'public/customers/recipe', customer_recipe: @recipe %>

<div class="mt-4 d-flex justify-content-center">
  <%= paginate @recipes %>
</div>

<nav aria-label="ページ送りの実例">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">前へ</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">次へ</a></li>
  </ul>
</nav>