
<div class=" row justify-content-center">
  <%= link_to "　　　　　新 着 順　　　　　　", recipes_path, class:"btn btn-warning mt-1 mx-1 btn-sm" %>
  <%= link_to "　　　　お気に入り順　　　　", rank_path, class:"btn btn-outline-warning mt-1 mx-1 btn-sm" %>
</div>

<div class="h4 pb-2 mb-4 text-secondary border-bottom border-warning ">
<h5></h5>
</div>

<%= render 'public/customers/recipe', customer_recipe: @recipes %>


<%= link_to "いいねした投稿", recipe_favorites_path(@recipes) %>

<div class="h4  text-secondary border-bottom border-warning" >
<h5>タグ一覧</h5>
</div>

<!--タグリスト-->
<%= render 'tag_list', tag_list: @tag_list %>
</br>
