

<h3>レシピ投稿</h3>

<%= form_with model: @recipe, url:recipes_path, local: true do |f| %>

<%= f.hidden_field :customer_id, :value => @customer.id  %>

<div class="form-group">

  <%= f.label :image, "レシピ画像" ,class: ""  %>
  <%= f.file_field :image, accept:"image/*" %> <!--accept: "image/*"は画像ファイルのみ投稿可能-->
 </div>

<div class="form-group">
  <%= f.label :name, "レシピ名" ,class: ""  %>
  <%= f.text_field :name, class: "form-control last_name"%>
 </div>
 <div class="form-group">
  <%= f.label :size, "サイズ" ,class: ""  %>
  <%= f.text_field :size, class: ""%>
 </div>
 <div class="form-group">
  <%= f.label :quantity, "数量" ,class: ""  %>
  <%= f.text_field :quantity, class: ""%>
 </div>
 <div class="form-group">
  <%= f.label :introduction, "紹介文" ,class: ""  %>
  <%= f.text_area :introduction, class: ""%>
 </div>

  <div class="form-group">
  <%= f.label :point, "point!" ,class: ""  %>
  <%= f.text_area :point, class: ""%>
 </div>

 <div class="form-group">
  <%= f.label :ingredient_name, "材料" ,class: ""  %>
  <%= f.text_area :ingredient_name, class: ""%>
 </div>


 <div class="form-group">
  <%= f.label :process, "作り方" ,class: ""  %>
  <%= f.text_area :process, class: ""%>
 </div>


 ",を入力することで複数のタグを付けることができます。"
   "例：音楽,文芸,スポーツ"
  <div class="form-group">
   <%= f.label :tag_name, "タグ" ,class: ""  %>
   <%= f.text_field :tag_name %>
  </div>

 <div class="">
  <%= f.submit "保存", class: "" %>
<% end %>



