
<div><%= flash[:notice] %></div>

<h3></h3>

<%= image_tag @recipe.get_image, size: '50x50' %>
<%= @recipe.name %>
<%= @recipe.size %>
<%= @recipe.quantity %>
<%= @recipe.introduction %>



<%= link_to "編集する", edit_recipe_path(@recipe) %>


<div>
  <p>コメント件数：<%= @recipe.comments.count %></p>
  <% @recipe.comments.each do |comment| %>
    <p><%#= image_tag comment.customer.get_image(100,100) %></p>
    <%= comment.customer.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
  <% end %>
</div>
<div>
  <%= form_with model: [@recipe, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>


<%= link_to " レシピ一覧に戻る", recipes_path(current_customer) %>