
<div><%= flash[:notice] %></div>
  <div class="row mt-5 h4 pb-2 mb-4  border-bottom border-warning justify-content-end" >
    <% if @recipe.customer == current_customer %>
      <%= link_to "編集する", edit_recipe_path(@recipe), class:" btn btn-outline-warning" %>
      <%= link_to "削除",  recipe_path(@recipe), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"ml-2 btn btn-outline-dark" %>
    <% end %>
  </div>

<div class=" row mt-1">
  <div class="col-12 col-sm-8 rounded mx-auto d-block">
    <%= image_tag @recipe.get_image,class:"img-thumbnail max-width:100%;"  %>
  </div>
</div>

<div class=" row mt-1 justify-content-end">
  <div class="col-8 col-sm-4" >
    <% if customer_signed_in? %>
      <% if @recipe.favorited_by?(current_customer) %>
        <p>
          <%= link_to recipe_favorites_path(@recipe), class:"btn btn-outline-danger", method: :delete do %>
            ♥ お気に入り（<%= @recipe.favorites.count %>）
      <% end %>
        </p>
          <% else %>
            <p>
              <%= link_to recipe_favorites_path(@recipe), class:"btn btn-outline-danger", method: :post do %>
                ♡ お気に入り（<%= @recipe.favorites.count %>）
          <% end %>
            </p>
    <% end %>
      <% else %>
        <%= link_to new_customer_session_path, class:"btn btn-outline-danger" do %>
          ♡ お気に入り（<%= @recipe.favorites.count %>）
      <% end %>
    <% end %>
  </div>
</div>

<div class=" row mt-1 justify-content-end">
  <div class="col-8 col-sm-3">
    <small class="text-muted">
      <%= image_tag @recipe.customer.get_image, size: '30x30', class:"rounded-circle " %>
      <%= link_to @recipe.customer.name, customer_path(@recipe.customer.id), class:"text-secondary" %>
    </small>
  </div>
</div>


<div class=" row m-4 mt-sm-4 ml-sm-2 text-secondary border-bottom">
  <h4><%= safe_join(@recipe.name.split("\n"),tag(:br)) %></h4>
</div>

<div class=" row m-4 p-3 mt-sm-4 ml-sm-2 text-secondary  border border-white rounded " >
  <%= safe_join(@recipe.introduction.split("\n"),tag(:br)) %>
</div>

<div class=" row m-4 mt-sm-4 ml-sm-2 text-secondary border-bottom " >
 <h6>
    材料 （<%= @recipe.size %>
    <%= @recipe.quantity %>）
  </h6>
</div>

<div class=" row m-4 mt-sm-4 ml-sm-2 text-secondary border border-white rounded" >
  <%= safe_join(@recipe.ingredient_name.split("\n"),tag(:br)) %>
</div>

<div class=" row m-4 p-3 mt-sm-4  text-secondary  border border-warning rounded" >
  <%= safe_join(@recipe.point.split("\n"),tag(:br)) %>
</div>

<div class=" row m-4 mt-sm-4 ml-sm-2 text-secondary border-bottom" >
  <h7 class="">作り方 </h7>
</div>

<div class=" row m-4 mt-sm-4 ml-sm-2 text-secondary border border-white rounded" >
   <%= safe_join(@recipe.process.split("\n"),tag(:br)) %>
</div>

<div class="row my-sm-5 pr-5 text-secondary justify-content-end">
  コメント全<%= @recipe.comments.count %>件
</div>



<% @recipe.comments.each do |comment| %>

  <div class="card mb-3 ml-sm-2 " style="max-width: 570px;" >
    <div class="row no-gutters">
    </div>
      <div class="card">
        <div class="row card-title m-2 justify-content-between">
          <h6>
            <%= image_tag comment.customer.get_image, size: '30x30',class:"rounded-circle " %>
            <%= link_to comment.customer.name, customer_path(comment.customer.id), class:"text-secondary" %>
          </h6>
            <small class="text-muted">
              <%= comment.created_at.strftime('%Y/%m/%d') %>
            </small>
        </div>
          <div class="card-text mt-1 m-3 text-secondary">
            <%= safe_join(comment.comment.split("\n"),tag(:br)) %>
              <div class="card-text mt-1 text-secondary text-right">
                <% if comment.customer == current_customer %>
                  <%= link_to "削除",  recipe_comment_path(comment.recipe, comment), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"text-danger" %>
                <% end %>
              </div>
          </div>
      </div>
  </div>
<% end %>

<%= form_with model: [@recipe, @comment] do |f| %>
  <div class="form-group mb-3 ml-sm-2"  style="max-width: 570px;" >
    <%= f.text_area :comment, rows: '3', placeholder: "コメントはこちらから！", class:"  form-control"%>
      <div class="text-right mt-1">
        <%= f.submit "送信",class:"btn btn-outline-secondary " %>
      </div>
  </div>
<% end %>


 <!--タグ一覧-->
<%= render 'tag_list', tag_list: @recipe_tags  %>

<%= link_to " レシピ一覧に戻る", recipes_path(current_customer) %>
