
<div><%= flash[:notice] %></div>
<div class="row mt-5 h4 pb-2 mb-4  border-bottom border-warning justify-content-end" >
   <% if @recipe.customer == current_customer %>
    <%= link_to "編集する", edit_recipe_path(@recipe), class:" btn btn-outline-warning" %>
    <%= link_to "削除",  recipe_path(@recipe), method: :delete, class:"ml-2 btn btn-outline-danger" %>
   <% end %>
</div>


<div class=" row mt-1">
  <div class="col-12 col-sm-8 rounded mx-auto d-block">
<%= image_tag @recipe.get_image,class:"img-thumbnail max-width:100%;"  %>
</div>
</div>
<div class=" row mt-3 mt-sm-4 text-secondary ">
<h2><%= @recipe.name %></h2>
</div>

<div class=" row mt-1">
  <div class="col">
  <%= image_tag @recipe.customer.get_image, size: '30x30', class:"rounded-circle " %>
<%= link_to @recipe.customer.name, customer_path(@recipe.customer.id), class:"text-secondary" %>
</div>
<div class="col  ">
 <% if @recipe.favorited_by?(current_customer) %>
    <p class="btn btn-outline-danger">
      <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
        ♥<%= @recipe.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p class="btn btn-outline-danger">
      <%= link_to recipe_favorites_path(@recipe), method: :post do %>
        ♡<%= @recipe.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>
  </div>
</div>








  <%= @recipe.size %>
  <%= @recipe.quantity %>
  <%= @recipe.introduction %>
  <%= @recipe.point %>
  <%= @recipe.ingredient_name %>
  <%= @recipe.process %>





<div>
  <p>コメント件数：<%= @recipe.comments.count %></p>
  <% @recipe.comments.each do |comment| %>
    <p><%= image_tag @recipe.customer.get_image, size: '30x30' %></p>
    <%= comment.customer.name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
     <% if comment.customer == current_customer %>
      <%= link_to "削除",  recipe_comment_path(comment.recipe, comment), method: :delete %>
      <% end %>

  <% end %>
</div>
<div>
  <%= form_with model: [@recipe, @comment] do |f| %>
    <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<% @recipe_tags.each do |tag| %> <!--タグ一覧-->
  <%=  link_to tag.tag_name, tag_recipes_path(tag_id: tag.id) %>
  <%= "(#{tag.recipes.count})" %>
<% end %>


<%= link_to " レシピ一覧に戻る", recipes_path(current_customer) %>
