
<div class="h4 pb-2 mb-4 text-secondary border-bottom border-warning ">
  <h2>会員登録</h2>
</div>
  <%= form_with model: @customer,  url: customer_registration_path do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class=" mt-5 mb-3  row justify-content-center">
      <%= f.label :"お名前",class:"col-sm-4  form-label" %>
      <%= f.text_field :name, placeholder:"山田太郎",class:" col-sm-7 form-control " %>
    </div>

    <div class="row mb-3 justify-content-center">
      <%= f.label :"ふりがな",class:" col-sm-4 form-label" %>
      <%= f.text_field :name_kana, placeholder:"やまだたろう",class:"col-sm-7 form-control" %>
    </div>

    <div class="row mb-3 justify-content-center">
      <%= f.label :"メールアドレス" ,class:"col-sm-4 col-form-label"%>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"example@mail",class:"col-sm-7 form-control" %>
    </div>

    <div class="row mb-3 justify-content-center">
      <%= f.label :"パスワード",class:"col-sm-4 col-form-label" %>
      <%= f.password_field :password, autocomplete: "new-password",class:"col-sm-7 form-control" %>
      <% if @minimum_password_length %>
      <em>(半角英数 <%= @minimum_password_length %> 文字）</em>
      <% end %>
    </div>

    <div class="row mb-3 justify-content-center">
      <%= f.label :"確認用パスワード",class:"col-sm-4 col-form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"col-sm-7 form-control" %>
    </div>

    <div class="actions d-grid col-9 mt-5 mx-auto">
      <%= f.submit "会員登録",class:"btn btn-warning btn-block" %>
   </div>

  <% end %>

    <div class="actions d-grid col-9 mt-4 mx-auto">
     <%= render "public/shared/links" %>
    </div>
</div>
 