<!DOCTYPE html>
<html>
  <head>
    <title>RecipeSite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
   <%= render "layouts/header" %>

  <body>
    <main>
      <div class="container">
        <div class="col-lg-8 col-md-12 my-5 mx-auto bg-light border border-1 ">
          <div class="p-4 mx-auto   ">
    <%= yield %>
          </div>
        </div>
     </div>
    </main>
  </body>
  
  <footer class="footer"></footer>

</html>
